# General
Thumbs.db
.DS_Store
*.exe.stackdump
vendor_test/
vendor/

# Chalet
build
dist
chalet_external/
.env*

# Profiling
gmon.out
profiler_analysis.stats

# VS Code
.vscode/ipch

# Visual Studio
.vs
