# Chalet
build/
chalet_external/
dist/
.chaletrc
.env*

# Editors
.idea/
.vs/
.vscode/ipch/
CMakeSettings.json
launch.vs.json
tasks.vs.json

# Project-specific
*.exe.stackdump
external/
*.log

# Other
.cache/
Thumbs.db
.DS_Store
