/*
	Distributed under the OSI-approved BSD 3-Clause License.
	See accompanying file LICENSE.txt for details.
*/

#ifdef _WIN32

#include "Libraries/WindowsApi.hpp"

#include "Resource.h"

#if defined(_DEBUG) || defined(DEBUG)
WIN32_MANIFEST RT_MANIFEST "platform/windows/app.manifest"
WIN32_ICON_MAIN ICON "platform/windows/app.ico"
#endif


#endif
