/*
	Distributed under the OSI-approved BSD 3-Clause License.
	See accompanying file LICENSE.txt for details.
*/

#ifdef _WIN32

#include "Libraries/WindowsApi.hpp"
#include <winuser.h>

#include "Resource.h"

MANIFEST_RESOURCE_ID RT_MANIFEST "env/windows/app.manifest"
WIN32_ICON_MAIN ICON "env/windows/app.ico"

#endif
