[Desktop Entry]
Version=1.0
Type=Application
Categories=Application;
Terminal=false
Exec=${mainExecutable}
Path=${path}
Name=${name}
Comment=A cross-platform JSON-based project & build tool
Icon=${icon}
